// BUTTON
.btn {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 25rem;
  padding: 0.65em 1.2em;
  font-family: var(--ff-caveat);
  font-size: clamp(1.25rem, 1.1524rem + 0.4878vw, 1.5rem);
  font-weight: 600;
  // pre-defined border to prevent layout-shift
  color: var(--clr-white);
  text-decoration: none;
  cursor: pointer;
  background: var(--clr-main-dk);
  border: 0.375rem solid transparent;
  border-radius: 0.25em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 0.375em 0.75em -0.125em,
    rgba(0, 0, 0, 0.3) 0px 0.1875em 0.4375em -0.1875em;
  transition: opacity 250ms ease-in;
  animation: pulse-black 2s infinite;
}

.btn:hover {
  opacity: 0.8;
}

.btn:focus-visible {
  border: 0.375rem solid var(--clr-black);
  outline: none;
  transform: scale(1.025);
}

$clr-black: #071013;
// @include animations.pulse-anim(pulse-black, $clr-black);

// CARDS BLOCK

.cards {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1.5em;
}

.cards__item {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
  justify-items: center;
  align-content: center;
  text-align: center;
  padding: 2.5rem 1.25rem;
  border-radius: 0.5rem;
  border-bottom: 0.125rem solid var(--clr-main-dk);
  box-shadow: var(--shadow-xlg);
  transition: transform 0.2s ease-in-out;
}

.cards__item:hover {
  transform: scale(1.03);
}

.cards__item h3 {
  font-family: var(--ff-montserrat);
  font-weight: 600;
  text-transform: uppercase;
  line-height: 2;
  letter-spacing: 0.03em;
}

.cards__item p {
  font-family: var(--ff-montserrat);
}

.cards__item .img-wrapper {
  width: 100%;
  height: auto;
}

// SLIDER

.slider {
  width: 100%;
}

/*  padding-bottom is based on the width. It calcs the padding-bottom (height)
    based on the aspect ratio (1/2) then it multiplies by 100% to keep the ratio.
    The max-width is 2000px.

    ps: the padding-bottom is based on the WIDTH and NOT on the HEIGHT
*/
.slider .flickity-viewport {
  padding-bottom: min(calc((1 / 2) * 100%), 400px);
}

.slider__cell {
  // Added to centralize images when in fullscreen
  top: 50%;
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 300px;
  transform: translateY(-50%);
  margin-right: 4rem;
  transition: box-shadow 0.2s ease;
  border-radius: 0.5rem;
}

@media screen and (min-width: 900px) {
  .slider {
    //
    margin-top: -2rem;
  }

  .slider__cell.is-selected {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    width: 630px;
    max-width: max-content;
    height: 315px;
  }
}

.slider__cell img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}
