.alert {
  padding: 0.5em;
  font-size: 1rem;
  font-weight: 300;
  color: #c83030;
  text-align: center;
  background-color: #fff5f5;
  border: 0.125rem solid #c83030;
  border-radius: 0.5rem;
}

.is-hidden {
  display: none;
}
